<section id="todos">
  <header>
    <h2>Editing <%= @list[:name] %></h2>
    <ul>
      <li>
        <form action="/lists/<%= @index %>/destroy" method="post">
          <button type="submit" class="delete">
            Delete List
          </button>
        </form>
      </li>
    </ul>
  </header>
</section>

<form action="/lists/<%= @index %>" method="post">
  <dl>
    <dt>
      <label for="list_name">Edit the name of your list item:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="<%= @list[:name] %>" type="text" value= "<%= params[:list_name] || ''%>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/">Cancel</a>
  </fieldset>
</form>
