<ul id="lists">
  <% @lists.each_with_index do |list, index| %>
    <li class="<%= todos_complete?(index) ? 'complete' : '' %>">
      <a href="/lists/<%= index %>">
        <h2><%= list[:name] %></h2>
        <p><%= num_todos_complete index %> / <%= total_todos index %></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">Add new list</a>
<% end %>
