<section id="todos">
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <li>
        <form action="" method="post">
          <button class="check" type="submit">Complete All</button>
        </form>
      </li>
      <li>
        <a class="edit" href="/lists/<%= @index %>/edit">Edit</a>
      </li>
    </ul>
  </header>
  <ul>
    <% @todos.each_with_index do |todo, todo_idx| %>
      <li class="<%= @status[todo_idx] %>">
        <form action="/lists/<%= @index %>/todos/<%= todo_idx %>/status" method="post" class="check">
          <input type="hidden" name="completed" value="<%= @status[todo_idx] %>" />
          <button type="submit">Complete</button>
        </form>
        <h3><%= todo %></h3>
        <form action="/lists/<%= @index %>/todos/<%= todo_idx %>/destroy" method="post" class="delete">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% end %>
  </ul>
</section>

<form action="/lists/<%= @index %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo" placeholder="Something to do" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>

<% content_for :header_links do %>
  <a class="list" href="/lists">All lists</a>
<% end %>
